*.out

__pycache__/
*.pyc
.coverage
.mypy_cache
.pytest_cache
.ipynb_checkpoints/*
.ipynb_checkpoints/
playground/*

# Distribution/packaging
build/
dist/
*.egg-info/
_build
/docs/api
bibtex.json

# Virtual environments
env/
venv/
.venv/
ENV/
env.bak/
venv.bak/
.conda/
